h2 {
    padding: 20px;
    color: aliceblue;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(4, 18, 34);
    border: 1px solid rgba(214, 236, 255, 0.666)
  }

.image {
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
}

